<h2 class="text_h2">About SFRecords</h2>

<div class="container-fluid cover">

	<% if current_user.role == "admin" %>
	 	<%= link_to 'Accessory', accesories_url, class: 'btn btn-success' %>
	<% end %>
	<hr>
	
	<%= @abouts.find_each do |about| %>
		<h3> <%= about.title %> </h3>
		<div>
			<%= simple_format(about.body) %>
		</div>
		<hr>
	<% end %>
</div>