<div class="container-fluid">
	<%#= pie_chart @user_item_chart.group(:category).count, donut: true %>
	<%#= line_chart @user_item_chart.group_by_minute(:created_at).count %>
	<%#= column_chart @user_item_chart.group_by_day_of_week(:created_at, format: "%a").count %>
	<%= bar_chart @user_item_chart.group(:storename).sum(:amount) %>
	<%#= area_chart @user_item_chart.group_by_minute(:created_at).maximum(:quantity) %>
</div>