<!-- <!DOCTYPE html>
<html>

<head>
    <title>Basic Footer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Footer-white.css">
</head>

<body>
<div class="content">
</div> -->
    <footer class="footer" id="myFooter">
        <div class="container">
            <ul>
                <li><a href="#">SFRecords</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms of service</a></li>
            </ul>
        <p class="footer-copyright">© 2017 Copyright </p>
        </div>
    </footer>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
 -->