<% if logged_in? %>
<%= render 'layouts/header_icons' %>
<% else %>
<%= render 'layouts/basic_header' %>
<%= render '/layouts/front_main' %>
<% end %>
<!--div class="jumbotron" id="main_front">
	<div class="container-fluid">
		<h1> PMM Account </h1>
		<p> <em>Proper Money Management </em> </p>
	</div>
</div-->